/* ========================== */
/* 🎨 VARIÁVEIS (CLARO) */
/* ========================== */
:root {
  --bg: #f9f8dc;
  --card: #f3e7c4;
  --text: #000;
  --muted: #1b1000;
  --menu: #c5a96a;
  --accent: #fff;
}

/* ========================== */
/* 🌙 DARK MODE */
/* ========================== */
@media (prefers-color-scheme: dark) {
  :root {
    --bg: #1c1c1c;
    --card: #2e2e2e;
    --text: #f5f5f5;
    --muted: #ccc;
    --menu: #2a2a2a;
    --accent: #fff;
  }
}

/* ========================== */
/* 🔧 RESET */
/* ========================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ========================== */
/* 🌍 BASE */
/* ========================== */
body {
  background: var(--bg);
  color: var(--text);
  font-family: system-ui, sans-serif;
}

/* LINKS */
a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  color: inherit;
}

/* ========================== */
/* 🧭 MENU */
/* ========================== */
.header {
  position: sticky;
  top: 0;
  background: var(--menu);
  z-index: 1000;
}

.menu {
  max-width: 600px;
  margin: auto;
  padding: 10px;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.menu a {
  font-size: 0.8rem;
  font-weight: bold;
  text-transform: uppercase;
}

/* ========================== */
/* 📦 CONTAINER */
/* ========================== */

main {
  max-width: 600px;
  margin: 50px auto 30px;
  padding: 20px 15px;

  min-height: calc(100vh - 80px); /* 🔥 resolve tudo */
}
.page-header {
  margin-bottom: 25px;
  text-align: center;
  
}

body {
  font-family: 'Poppins', system-ui, sans-serif;
}
h1, h2 {
  font-weight: 700;
}

p {
  font-weight: 400;
}

html, body {
  height: 100%;
}

@media (prefers-color-scheme: dark) {

  :root {
    --bg: #1f1a14;        /* marrom bem escuro */
    --card: #2a231b;      /* card levemente mais claro */
    --text: #f5e6c8;      /* bege claro */
    --muted: #cbbba0;     /* bege suave */
    --menu: #3a2f22;      /* marrom do menu */
  }

  .header {
    background: var(--menu);
  }


}